<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../partials/head %>
</head>

<body class="no-skin">

	<% include ../partials/topo %>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try{ace.settings.loadState('main-container')}catch(e){}
		</script>

		<% include ../partials/sideBar %>

		<div class="main-content">
			<div class="main-content-inner">
				<% include ../partials/barraNavegacao %>

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">	
					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">

							<% include ../partials/mensagens %>

							<!-- PAGE CONTENT BEGINS -->
							<input type="hidden" value="" name="idSelecionado" id="hdfIdSelecionado">
							<div class="col-xs-12 col-sm-12" id="widget-container-col-2">

								<table class="table table-striped table-bordered table-hover">
									<thead class="thin-border-bottom">
										<tr>
											<th style="text-align: center;">
												<i class="ace-icon fa fa-user"></i>
												Nome
											</th>

											<th style="text-align: center;">
												<i class="ace-icon fa fa-phone"></i>
												Telefone
											</th>

											<th style="text-align: center;">
												<i class="ace-icon fa fa-phone"></i>
												Perfil
											</th>
											<% if(usuarioLogado && usuarioLogado.perfil == 'A'){ %>
												<th style="text-align: center;">
													<i class="ace-icon fa fa-phone"></i>
													Ações
												</th>
											<% } %>
										</tr>
									</thead>

									<tbody>
										<% if(listaUsuarios.length > 0) { %>
											<% for(var i = 0; i < listaUsuarios.length; i++) { %>

												<tr>
													<td style="text-align: left;" class="text-primary">
														<input type="hidden" value="<%= listaUsuarios[i].id %>" name="id" id="hdfUsuarioId">
														<a href="listarPresencasUsuario?idUsuario=<%= listaUsuarios[i].id %>"><b><%= listaUsuarios[i].nome %></b></a>
													</td>
													<td style="text-align: center;"><b><%= listaUsuarios[i].telefone %></b></td>
													<td><b><%= listaUsuarios[i].perfil %></b></td>

													<% if(usuarioLogado && usuarioLogado.perfil == 'A'){ %>
														<td style="text-align: center;">
															<div class="hidden-sm hidden-xs btn-group">
																<a href="editarUsuarioPage?idUsuario=<%= listaUsuarios[i].id %>" class="btn btn-xs btn-info">
																	<i class="ace-icon fa fa-pencil bigger-120"></i>
																</a>

																<button class="btn btn-xs btn-danger" id="btnDelete" data-id="confirmDeleteUsuario" ><i class="ace-icon fa fa-trash-o bigger-120"></i></button>

																<button class="btn btn-xs btn-warning" id="btnResetSenha" data-id="confirmResetSenhaUsuario" ><i class="ace-icon fa fa-key bigger-120"></i></button>
																											
															</div>
															<!-- Comportamento para MOBILE -->
															<div class="hidden-md hidden-lg">
																<div class="inline pos-rel">
																	<a href="editarUsuarioPage?idUsuario=<%= listaUsuarios[i].id %>" class="btn btn-xs btn-info">
																		<i class="ace-icon fa fa-pencil bigger-120"></i>
																	</a>
		
																	<button class="btn btn-xs btn-danger" id="btnDelete" data-id="confirmDeleteUsuario" ><i class="ace-icon fa fa-trash-o bigger-120"></i></button>

																	<button class="btn btn-xs btn-warning" id="btnResetSenha" data-id="confirmResetSenhaUsuario" ><i class="ace-icon fa fa-key bigger-120"></i></button>
		
																</div>
															</div>
														</td>
													<% } %>
                                                </tr>
                                            
											<% } %>
										<% } %>	
									</tbody>
								</table>
							</div>


							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<% include ../partials/footer %>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<% include ../partials/basicScripts %>

	<script src="assets/components/bootbox.js/bootbox.js"></script>

	<script type="text/javascript">
		jQuery(function($) {
				
			$("[data-id=confirmDeleteUsuario]").on(ace.click_event, function() {				
				var idUsuario = $(this).closest('tr').find('input:hidden').val();
				$('#hdfIdSelecionado').val(idUsuario);
				
				bootbox.confirm("Ao deletar um usuário, serão deletadas todas as presenças e faltas do mesmo. Confirma a deleção do Usuário?", function(result) {
					if(result) {

						let idSelecionado = $('#hdfIdSelecionado').val();
						var data = {};
						data.idUsuario = idSelecionado;
						$.ajax({
							type: 'POST',
							url: '/deletarUsuario',						
							data: data,
							success: function(data) {
								window.location = "/?operSucesso=true";
							}
						});
					}
				});				
			});

			$("[data-id=confirmResetSenhaUsuario]").on(ace.click_event, function() {				
				var idUsuario = $(this).closest('tr').find('input:hidden').val();
				$('#hdfIdSelecionado').val(idUsuario);
				
				bootbox.confirm("Confirma o reset da senha do Usuário?", function(result) {
					if(result) {

						let idSelecionado = $('#hdfIdSelecionado').val();
						var data = {};
						data.idUsuario = idSelecionado;
						$.ajax({
							type: 'POST',
							url: '/resetarSenhaUsuario',				
							data: data,
							success: function(data) {
								window.location = "/?operSucesso=true";
							}
						});
					}
				});			
			});
		
		});
	</script>

</body>
</html>