<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../partials/head %>
</head>

<body class="no-skin">

	<% include ../partials/topo %>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try{ace.settings.loadState('main-container')}catch(e){}
		</script>

		<% include ../partials/sideBar %>

		<div class="main-content">
			<div class="main-content-inner">
				<% include ../partials/barraNavegacao %>

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">	
					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">

							<% include ../partials/mensagens %>

							<!-- PAGE CONTENT BEGINS -->
							<input type="hidden" value="" name="idSelecionado" id="hdfIdSelecionado">
							<div class="col-xs-12 col-sm-12" id="widget-container-col-2">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Nome </div>

										<div class="profile-info-value">
											<span class="" id="username"><%= usuarioLogado.nome %></span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Telefone </div>

										<div class="profile-info-value">
											<i class="fa fa-map-marker light-orange bigger-110"></i>
											<span class="" id="country"><%= usuarioLogado.telefone %></span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Perfil </div>

										<div class="profile-info-value">
											<span class="" id="age"><%= usuarioLogado.perfil == 'A' ? 'Administrador' : 'Normal' %></span>
										</div>
									</div>										
								</div>
							</div>


							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<% include ../partials/footer %>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<% include ../partials/basicScripts %>

	<script src="assets/components/bootbox.js/bootbox.js"></script>

	<script type="text/javascript">
		jQuery(function($) {
				
			$("[data-id=confirmDeleteUsuario]").on(ace.click_event, function() {				
				var idUsuario = $(this).closest('tr').find('input:hidden').val();
				$('#hdfIdSelecionado').val(idUsuario);
				
				bootbox.confirm("Ao deletar um usuário, serão deletadas todas as presenças e faltas do mesmo. Confirma a deleção do Usuário?", function(result) {
					if(result) {

						let idSelecionado = $('#hdfIdSelecionado').val();
						var data = {};
						data.idUsuario = idSelecionado;
						$.ajax({
							type: 'POST',
							url: '/deletarUsuario',						
							data: data,
							success: function(data) {
								window.location = "/?operSucesso=true";
							}
						});
					}
				});
			});
		
		});
	</script>

</body>
</html>