<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../partials/head %>
</head>

<body class="login-layout">

	


	<div class="main-container">
		<div class="main-content">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="login-container">
						<div class="center">
							<h1>
								<i class="ace-icon fa fa-calendar green"></i>
								<span class="red">Pelada</span>
								<span class="white" id="id-text2">Itau 10</span>
							</h1>
						</div>

						<div class="space-6"></div>

						<div class="position-relative">							
							<div id="" class="forgot-box visible widget-box no-border">
								<div class="widget-body">
									<div class="widget-main">
										<% include ../partials/mensagens %>
										<h4 class="header red lighter bigger">
											<i class="ace-icon fa fa-key"></i>
											Favor alterar a sua senha
										</h4>

										<div class="space-6"></div>
										<p>
											No primeiro acesso ao sistema, é necessário alterar a senha.
										</p>

										<form id="frmAlterarSenha" method="post" action="/alterarSenha" class="form-horizontal" role="form">
											<fieldset>
												<div class="form-group">
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="Senha" id="txtNovaSenha" name="novaSenha" />
															<i class="ace-icon fa fa-key"></i>
														</span>
													</label>
												</div>

												<div class="clearfix">
													<button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
														<i class="ace-icon fa fa-lightbulb-o"></i>
														<span class="bigger-110">Alterar!</span>
													</button>
												</div>
											</fieldset>
										</form>
									</div><!-- /.widget-main -->
								</div><!-- /.widget-body -->
							</div><!-- /.forgot-box -->
						</div><!-- /.position-relative -->
					</div>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.main-content -->
	</div><!-- /.main-container -->
	
	<script src="assets/components/jquery/dist/jquery.js"></script>
	<script src="assets/components/jquery-validation/dist/jquery.validate.js"></script>
	<script src="assets/components/jquery-validation/dist/additional-methods.js"></script>
	<script src="assets/components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>

	<script type="text/javascript">
		jQuery(function($) {				

			$('#frmAlterarSenha').validate({
				errorElement: 'div',
				errorClass: 'help-block',
				focusInvalid: false,
				ignore: "",
				rules: {
					novaSenha: {
						required: true,
						minlength: 5
					}
				},
		
				messages: {
					novaSenha: {
						required: "Digite a senha.",
						minlength: "Digite uma senha de 5 dígitos ou mais."
					}
				},		
		
				highlight: function (e) {
					$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
				},
		
				success: function (e) {
					$(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
					$(e).remove();
				},

				
				submitHandler: function (form) {
					form.submit();
				},
				invalidHandler: function (form) {
				}
			});
					
		})
	</script>

</body>
</html>