<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../partials/head %>
</head>

<body class="no-skin">

	<% include ../partials/topo %>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try{ace.settings.loadState('main-container')}catch(e){}
		</script>

		<% include ../partials/sideBar %>

		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
				<% include ../partials/barraNavegacao %>

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">	
					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">
							<% include ../partials/mensagens %>
							

							<!-- PAGE CONTENT BEGINS -->
							
							<form id="frmCadastrarUsuario" method="post" action="/cadastrarUsuario" class="form-horizontal" role="form">
								<input type="hidden" value="<%= usuario.id %>" name="id" id="hdfUsuarioId">
								
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" id="lblNome" for="txtNome"> Nome </label>
	
									<div class="col-sm-9">
										<input type="text" id="txtNome" name="nome" placeholder="Nome" class="col-xs-10 col-sm-5" value="<%= usuario.nome %>">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" id="lblTelefone" for="txtTelefone"> Telefone </label>
	
									<div class="col-sm-9">
										<input type="text" id="txtTelefone" name="telefone" placeholder="Telefone" class="col-xs-10 col-sm-5" value="<%= usuario.telefone %>">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" id="lblTelefone" for="txtTelefone"> Perfil </label>
	
									<div class="col-sm-9">
										<select class="col-xs-10 col-sm-5" id="ddlPerfil" name="perfil" value="<%= usuario.perfil %>">											
											<% if(usuario.perfil == 'A') { %>
												<option value="N">Normal</option>
												<option value="A" selected>Administrador</option>		
											<% } else { %>
												<option value="N" selected>Normal</option>
												<option value="A">Administrador</option>														
											<% } %>											
										</select>
									</div>
								</div>

								<div class="clearfix form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Cancelar
										</button>
									</div>
								</div>
							</form>



							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<% include ../partials/footer %>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<% include ../partials/basicScripts %>
	
	<script src="assets/components/jquery-validation/dist/jquery.validate.js"></script>
	<script src="assets/components/jquery-validation/dist/additional-methods.js"></script>
	<script src="assets/components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>

	<script type="text/javascript">
		jQuery(function($) {				
		
			$.mask.definitions['~']='[+-]';
			$('#txtTelefone').mask('99999-9999');
		
			jQuery.validator.addMethod("phone", function (value, element) {
				return this.optional(element) || /\d{4,5}-?\d{4}/.test(value);
			}, "Digite um telefone válido. Ex.: 99999-9999.");
		
			$('#frmCadastrarUsuario').validate({
				errorElement: 'div',
				errorClass: 'help-block',
				focusInvalid: false,
				ignore: "",
				rules: {
					nome: {
						required: true
					},
					telefone: {
						required: true,
						phone: 'required'
					}
				},
		
				messages: {
					nome: {
						required: "Digite o nome do jogador."
					},
					telefone:{
						required: "Digite o telefone."
					}
				},		
		
				highlight: function (e) {
					$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
				},
		
				success: function (e) {
					$(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
					$(e).remove();
				},

				
				submitHandler: function (form) {
					form.submit();
				},
				invalidHandler: function (form) {
				}
			});
					
		})
	</script>

</body>
</html>