<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="assets/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
</head>

<body class="no-skin">

	<% include ../partials/topo %>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try{ace.settings.loadState('main-container')}catch(e){}
		</script>

		<% include ../partials/sideBar %>

		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
				<% include ../partials/barraNavegacao %>

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">	
					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">
							<% include ../partials/mensagens %>
							

							<!-- PAGE CONTENT BEGINS -->
							
							<form id="frmCadastrarPresenca" method="post" action="/cadastrarPresenca" class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" id="lblNome" for="txtData"> Data Pelada </label>
	
									<div class="col-sm-9">
										<input class="form-control date-picker" id="txtData" name="data" type="text" style="width: 150px;"
											data-date-format="yyyy-mm-dd" />
									</div>
								</div>	

								<div class="clearfix form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Cadastrar
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Cancelar
										</button>
									</div>
								</div>

							</form>



							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<% include ../partials/footer %>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<% include ../partials/basicScripts %>
	
	<script src="assets/components/jquery-validation/dist/jquery.validate.js"></script>
	<script src="assets/components/jquery-validation/dist/additional-methods.js"></script>
	<script src="assets/components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
	<script src="assets/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>

	<script type="text/javascript">
		jQuery(function($) {				
			
			//datepicker plugin
			//link
			$('.date-picker').datepicker({
				autoclose: true,
				todayHighlight: true
			})
			//show datepicker when clicking on the icon
			.next().on(ace.click_event, function(){
				$(this).prev().focus();
			});

			$('#frmCadastrarPresenca').validate({
				errorElement: 'div',
				errorClass: 'help-block',
				focusInvalid: false,
				ignore: "",
				rules: {
					data: {
						required: true
					}
				},
		
				messages: {
					data: {
						required: "Digite a data da pelada."
					}
				},		
		
				highlight: function (e) {
					$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
				},
		
				success: function (e) {
					$(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
					$(e).remove();
				},

				
				submitHandler: function (form) {
					form.submit();
				},
				invalidHandler: function (form) {
				}
			});
					
		})
	</script>

</body>
</html>