<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../partials/head %>
</head>

<body class="login-layout">

	


	<div class="main-container">
		<div class="main-content">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="login-container">
						<div class="center">
							<h1>
								<i class="ace-icon fa fa-calendar green"></i>
								<span class="red">Pelada</span>
								<span class="white" id="id-text2">Itau 10</span>
							</h1>
						</div>

						<div class="space-6"></div>

						<div class="position-relative">
							<div id="login-box" class="login-box visible widget-box no-border">
								<div class="widget-body">
									<div class="widget-main">
										<% include ../partials/mensagens %>
										<h4 class="header blue lighter bigger">
											<i class="ace-icon fa fa-coffee green"></i>
											Informe Telefone e Senha
										</h4>

										<div class="space-6"></div>

										<form id="frmLogin" method="post" action="/autenticar" class="form-horizontal" role="form">
											<fieldset>
												<div class="form-group">
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="Telefone" id="txtTelefone" name="telefone" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>
												</div>

												<div class="form-group">
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="Senha" id="txtSenha" name="senha" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>
												</div>

												<div class="space"></div>

												<div class="clearfix">
													<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
														<i class="ace-icon fa fa-key"></i>
														<span class="bigger-110">Login</span>
													</button>
												</div>

												<div class="space-4"></div>
											</fieldset>
										</form>
									</div><!-- /.widget-main -->

									<div class="toolbar clearfix">
										<div>
											<a href="/" data-target="#forgot-box" class="forgot-password-link">
												<i class="ace-icon fa fa-arrow-left"></i>
												Voltar pro Site
											</a>
										</div>
									</div>
								</div><!-- /.widget-body -->
							</div><!-- /.login-box -->
						</div><!-- /.position-relative -->
					</div>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.main-content -->
	</div><!-- /.main-container -->
	
	<script src="assets/components/jquery/dist/jquery.js"></script>
	<script src="assets/components/jquery-validation/dist/jquery.validate.js"></script>
	<script src="assets/components/jquery-validation/dist/additional-methods.js"></script>
	<script src="assets/components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>

	<script type="text/javascript">
		jQuery(function($) {				
		
			$.mask.definitions['~']='[+-]';
			$('#txtTelefone').mask('99999-9999');
		
			jQuery.validator.addMethod("phone", function (value, element) {
				return this.optional(element) || /\d{4,5}-?\d{4}/.test(value);
			}, "Digite um telefone válido. Ex.: 99999-9999.");
		
			$('#frmLogin').validate({
				errorElement: 'div',
				errorClass: 'help-block',
				focusInvalid: false,
				ignore: "",
				rules: {
					senha: {
						required: true,
						minlength: 5
					},
					telefone: {
						required: true,
						phone: 'required'
					}
				},
		
				messages: {
					senha: {
						required: "Digite a senha.",
						minlength: "Figite uma senha de 5 dígitos ou mais."
					},
					telefone:{
						required: "Digite o telefone."
					}
				},		
		
				highlight: function (e) {
					$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
				},
		
				success: function (e) {
					$(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
					$(e).remove();
				},

				
				submitHandler: function (form) {
					form.submit();
				},
				invalidHandler: function (form) {
				}
			});
					
		})
	</script>

</body>
</html>