<!-- basic scripts -->

<!--[if !IE]> -->
<script src="/assets/components/jquery/dist/jquery.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="../components/jquery.1x/dist/jquery.js"></script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='/assets/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>
<script src="/assets/components/bootstrap/dist/js/bootstrap.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->
<script src="/assets/js/src/elements.scroller.js"></script>
<script src="/assets/js/src/elements.colorpicker.js"></script>
<script src="/assets/js/src/elements.fileinput.js"></script>
<script src="/assets/js/src/elements.typeahead.js"></script>
<script src="/assets/js/src/elements.wysiwyg.js"></script>
<script src="/assets/js/src/elements.spinner.js"></script>
<script src="/assets/js/src/elements.treeview.js"></script>
<script src="/assets/js/src/elements.wizard.js"></script>
<script src="/assets/js/src/elements.aside.js"></script>
<script src="/assets/js/src/ace.js"></script>
<script src="/assets/js/src/ace.basics.js"></script>
<script src="/assets/js/src/ace.scrolltop.js"></script>
<script src="/assets/js/src/ace.ajax-content.js"></script>
<script src="/assets/js/src/ace.touch-drag.js"></script>
<script src="/assets/js/src/ace.sidebar.js"></script>
<script src="/assets/js/src/ace.sidebar-scroll-1.js"></script>
<script src="/assets/js/src/ace.submenu-hover.js"></script>
<script src="/assets/js/src/ace.widget-box.js"></script>
<script src="/assets/js/src/ace.settings.js"></script>
<script src="/assets/js/src/ace.settings-rtl.js"></script>
<script src="/assets/js/src/ace.settings-skin.js"></script>
<script src="/assets/js/src/ace.widget-on-reload.js"></script>
<script src="/assets/js/src/ace.searchbox-autocomplete.js"></script>