<% if(mensagemAlerta != undefined) { %>
    <% if(mensagemAlerta.tipo == 0) { %>
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <strong><i class="ace-icon fa fa-times" style="padding-right: 5px;"></i>Atenção!</strong>
            <ul>
                <% for(var i = 0; i < mensagemAlerta.mensagens.length; i++) { %>
                    <li><%= mensagemAlerta.mensagens[i].msg %></li>
                <% } %>
            </ul>
        </div>
    <% } else { %>
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <strong><i class="ace-icon fa fa-check" style="padding-right: 5px;"></i>Sucesso!</strong> <%= mensagemAlerta.mensagens[0].msg %>
        </div>
    <% } %>
<% } %>