<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try{ace.settings.loadState('sidebar')}catch(e){}
    </script>    

    <ul class="nav nav-list">
        <li class="">
            <a href="/">
                <i class="menu-icon fa fa-home"></i>
                <span class="menu-text"> Home </span>
            </a>

            <b class="arrow"></b>
        </li>   
        
        <li class="">
            <a href="/escalacao">
                <i class="menu-icon glyphicon glyphicon-pencil"></i>
                <span class="menu-text"> Escalação Help </span>
            </a>

            <b class="arrow"></b>
        </li>
        
        <% if(usuarioLogado && usuarioLogado.perfil == 'A'){ %>
            <li class="">
                <a href="/presencaPendente">
                    <i class="menu-icon glyphicon glyphicon-ok"></i>
                    <span class="menu-text"> Presença Aberta </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/listarPresencas">
                    <i class="menu-icon glyphicon glyphicon-list"></i>
                    <span class="menu-text"> Lista de Presenças </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/cadastrarPresencaPage">
                    <i class="menu-icon fa fa-calendar"></i>
                    <span class="menu-text"> Cadastrar Presença </span>
                </a>
                
                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/cadastrarUsuarioPage">
                    <i class="menu-icon fa fa-pencil-square-o"></i>
                    <span class="menu-text"> Cadastrar Jogador </span>
                </a>
                
                <b class="arrow"></b>
            </li>            
            
        <% } %> 

        <li class="">
            <a href="/listarUsuarios">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> Lista de Usuários </span>
            </a>

            <b class="arrow"></b>
        </li>

    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
</div>
<!-- /section:basics/sidebar -->