<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../partials/head %>
</head>

<body class="no-skin" style="font-size: 9px;">

	<% include ../partials/topo %>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try{ace.settings.loadState('main-container')}catch(e){}
		</script>

		<% include ../partials/sideBar %>

		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
				<% include ../partials/barraNavegacao %>

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">	
					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">

							<% include ../partials/mensagens %>

							<!-- PAGE CONTENT BEGINS -->

							<div class="col-xs-12 col-sm-12" id="widget-container-col-2">

								<div class="row">
									<div class="col-sm-3">
										<a class="green">
											<i class="ace-icon fa fa-flag bigger-130"></i>
										</a>
										Presente
									</div>
									<div class="col-sm-3">
										<a class="orange">
											<i class="ace-icon fa fa-flag bigger-130"></i>
										</a>
										Atrasado
									</div>
									<div class="col-sm-3">
										<a class="red">
											<i class="ace-icon fa fa-flag bigger-130"></i>
										</a>
										Suspenso
									</div>
									<div class="col-sm-3">
										<a class="infobox-grey">
											<i class="ace-icon fa fa-flag bigger-130"></i>
										</a>
										Ausente
									</div>
								</div>
								<br>

								<table class="table table-striped table-bordered table-hover">
									<thead class="thin-border-bottom">
										<tr>
											<th style="text-align: center;">
												<i class="ace-icon glyphicon glyphicon-star"></i>
												Pos.
											</th>

											<th style="text-align: center;">
												<i class="ace-icon fa fa-user"></i>
												Jogador
											</th>

											<th style="text-align: center;">
												% Últ. 6
											</th>
											<th style="text-align: center;">
												% <%= new Date().getFullYear() %>
											</th>
											<th style="text-align: center;">
												% <%= new Date().getFullYear() - 1 %>
											</th>
											<th style="text-align: center;">
												% <%= new Date().getFullYear() -2 %>
											</th>
											<th style="text-align: center;">
												<i class="ace-icon fa fa-eye"></i>
												Última Pelada
											</th>
											<th style="text-align: center;">
												<i class="ace-icon fa fa-eye-slash"></i>
												Pelada Atual
											</th>
										</tr>
									</thead>

									<tbody>
										<% if(usuarios.length > 0) { %>
											<% for(var i = 0; i < usuarios.length; i++) { %>

												<tr>
													<td class="text-primary" style="text-align: center;"> 
														<% if((i + 1) == 20) { %>
															<b class="red"><%= (i + 1) %></b>
														<% } else { %>
															<b><%= (i + 1) %></b>
														<% } %>
													</td>

													<td class="text-primary" style="text-align: left;"> <b> <%= usuarios[i].nome %> </b></td>

													<td style="text-align: right;">
														<b><%= usuarios[i].percent6 %></b>
													</td>

													<td style="text-align: right;">
														<b><%= usuarios[i].percentAno %></b>
													</td>

													<td style="text-align: right;">
														<b><%= usuarios[i].percentAnoM1 %></b>
													</td>

													<td style="text-align: right;">
														<b><%= usuarios[i].percentAnoM2 %></b>
													</td>

													<td style="text-align: center;">
														<% if(usuarios[i].ultimaListaPresenca == 'P'){ %>
															<a class="green">
																<i class="ace-icon fa fa-flag bigger-130"></i>
															</a>
														<%} else if(usuarios[i].ultimaListaPresenca == 'A') { %>
															<a class="orange">
																<i class="ace-icon fa fa-flag bigger-130"></i>
															</a>															
														<%} else if(usuarios[i].ultimaListaPresenca == 'S') { %>
															<a class="red">
																<i class="ace-icon fa fa-flag bigger-130"></i>
															</a>
														<%} else if(usuarios[i].ultimaListaPresenca == 'F') { %>
															<a class="infobox-grey">
																<i class="ace-icon fa fa-flag bigger-130"></i>
															</a>
														<%} else  { %>
															<a><%= usuarios[i].ultimaListaPresenca %></a>															
														<%} %>
													</td>	
													
													<td style="text-align: center;">
														<% if(usuarios[i].presencaAtual == 'P'){ %>
															<a class="green">
																<i class="ace-icon fa fa-flag bigger-130"></i>
															</a>
														<%} else if(usuarios[i].presencaAtual == 'A') { %>
															<a class="orange">
																<i class="ace-icon fa fa-flag bigger-130"></i>
															</a>															
														<%} else if(usuarios[i].presencaAtual == 'S') { %>
															<a class="red">
																<i class="ace-icon fa fa-flag bigger-130"></i>
															</a>
														<%} else if(usuarios[i].presencaAtual == 'F') { %>
															<a class="infobox-grey">
																<i class="ace-icon fa fa-flag bigger-130"></i>
															</a>
														<%} else  { %>
															<a><%= usuarios[i].presencaAtual %></a>															
														<%} %>
													</td>	
												</tr>
											<% } %>
										<% } %>	
									</tbody>
								</table>
							</div>


							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<% include ../partials/footer %>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<% include ../partials/basicScripts %>

</body>
</html>