<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../partials/head %>
</head>

<body class="no-skin">

	<% include ../partials/topo %>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try{ace.settings.loadState('main-container')}catch(e){}
		</script>

		<% include ../partials/sideBar %>

		<div class="main-content">
			<div class="main-content-inner">
				<% include ../partials/barraNavegacao %>

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">	
					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">

							<% include ../partials/mensagens %>

							<!-- PAGE CONTENT BEGINS -->

							<input type="hidden" value="" name="idSelecionado" id="hdfIdSelecionado">
							<div class="col-xs-12 col-sm-12" id="widget-container-col-2">

								<table class="table table-striped table-bordered table-hover">
									<thead class="thin-border-bottom">
										<tr>
											<th>
												<i class="ace-icon fa fa-user"></i>
											    Data
											</th>

											<th>
												<i class="ace-icon fa fa-phone"></i>
												Status
											</th>

											<th>
												<i class="ace-icon fa fa-phone"></i>
												Fechar Presenças
											</th>
										</tr>
									</thead>

									<tbody>
										<% if(listaPresencas.length > 0) { %>
											<% for(var i = 0; i < listaPresencas.length; i++) { %>

												<tr>
													<td class="">
														<input type="hidden" value="<%= listaPresencas[i].id %>" name="id" id="hdfPresencaId">
														<a href="usuariosPresenca?idPresenca=<%= listaPresencas[i].id %>"><b><%= listaPresencas[i].data %></b></a>
													</td>
													<td>
														<% if(listaPresencas[i].status == 'ABERTA'){ %>
															<span class="label label-warning">
														<% } else { %>
															<span class="label label-danger">
														<% } %>
														<%= listaPresencas[i].status %></span>
													</td>

													<td class="">
														<div class="hidden-sm hidden-xs btn-group">
															<% if(listaPresencas[i].status == 'FECHADA'){ %>
																<button class="btn btn-xs btn-primary disabled" id="btnFechaPresenca" ><i class="ace-icon fa fa-check-square-o bigger-120"></i></button>	
															<% } else { %>
																<button class="btn btn-xs btn-primary" id="btnFechaPresenca" data-id="confirmFechaPresenca" ><i class="ace-icon fa fa-check-square-o bigger-120"></i></button>	
															<% } %>														
														</div>
														<!-- Comportamento para MOBILE -->
														<div class="hidden-md hidden-lg">
															<div class="inline pos-rel">
																<% if(listaPresencas[i].status == 'FECHADA'){ %>
																	<button class="btn btn-xs btn-primary disabled" id="btnFechaPresenca" ><i class="ace-icon fa fa-check-square-o bigger-120"></i></button>	
																<% } else { %>
																	<button class="btn btn-xs btn-primary" id="btnFechaPresenca" data-id="confirmFechaPresenca" ><i class="ace-icon fa fa-check-square-o bigger-120"></i></button>	
																<% } %>																
															</div>
														</div>
													</td>

                                                </tr>
                                            
											<% } %>
										<% } %>	
									</tbody>
								</table>
							</div>


							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<% include ../partials/footer %>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<% include ../partials/basicScripts %>

	<script src="assets/components/bootbox.js/bootbox.js"></script>

	<script type="text/javascript">
		jQuery(function($) {
				
			$("[data-id=confirmFechaPresenca]").on(ace.click_event, function() {				
				var idPresenca = $(this).closest('tr').find('input:hidden').val();
				$('#hdfIdSelecionado').val(idPresenca);
				
				bootbox.confirm("Confirma fechamento das presenças?", function(result) {
					if(result) {

						let idSelecionado = $('#hdfIdSelecionado').val();
						var data = {};
						data.idPresenca = idSelecionado;
						$.ajax({
							type: 'POST',
							url: '/fecharPresenca',						
							data: data,
							success: function(data) {
								window.location = "/?operSucesso=true";
							}
						});
					}
				});
			});
		
		});
	</script>

</body>
</html>