<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../partials/head %>
</head>

<body class="no-skin">

	<% include ../partials/topo %>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try{ace.settings.loadState('main-container')}catch(e){}
		</script>

		<% include ../partials/sideBar %>

		<div class="main-content">
			<div class="main-content-inner">
				<% include ../partials/barraNavegacao %>

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">	
					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">

							<% include ../partials/mensagens %>

							<!-- PAGE CONTENT BEGINS -->
							<input type="hidden" value="" name="idSelecionado" id="hdfIdSelecionado">
							<div class="col-xs-12 col-sm-12">
								<a href="/listarUsuarios" >Voltar</a>
							</div>
							<br>
							
							<div class="col-xs-12 col-sm-12" id="widget-container-col-2">


								<table class="table table-striped table-bordered table-hover">
									<thead class="thin-border-bottom">
										<tr>
											<th style="text-align: center;">
												<i class="ace-icon fa fa-user"></i>
												Data
											</th>

											<th style="text-align: center;">
												<i class="ace-icon fa fa-phone"></i>
												Situação
											</th>
										</tr>
									</thead>

									<tbody>
										<% if(presencas.length > 0) { %>
											<% for(var i = 0; i < presencas.length; i++) { %>

												<tr>
													<td style="text-align: center;" class="text-primary">
														<b><%= presencas[i].data %></b>
													</td>
													<td style="text-align: center;"><b><%= presencas[i].status %></b></td>				
                                                </tr>
                                            
											<% } %>
										<% } %>	
									</tbody>
								</table>
							</div>


							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<% include ../partials/footer %>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<% include ../partials/basicScripts %>

	<script src="assets/components/bootbox.js/bootbox.js"></script>

	<script type="text/javascript">
		jQuery(function($) {
				
			$("[data-id=confirmDeleteUsuario]").on(ace.click_event, function() {				
				var idUsuario = $(this).closest('tr').find('input:hidden').val();
				$('#hdfIdSelecionado').val(idUsuario);
				
				bootbox.confirm("Ao deletar um usuário, serão deletadas todas as presenças e faltas do mesmo. Confirma a deleção do Usuário?", function(result) {
					if(result) {

						let idSelecionado = $('#hdfIdSelecionado').val();
						var data = {};
						data.idUsuario = idSelecionado;
						$.ajax({
							type: 'POST',
							url: '/deletarUsuario',						
							data: data,
							success: function(data) {
								window.location = "/?operSucesso=true";
							}
						});
					}
				});
			});
		
		});
	</script>

</body>
</html>