<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% include ../partials/head %>
</head>

<body class="no-skin">

	<% include ../partials/topo %>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try{ace.settings.loadState('main-container')}catch(e){}
		</script>

		<% include ../partials/sideBar %>

		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
				<% include ../partials/barraNavegacao %>

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">	
					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">

							<% include ../partials/mensagens %>

							<!-- PAGE CONTENT BEGINS -->

							<div class="col-xs-12 col-sm-12" id="widget-container-col-2">
								<form id="frmCadastrarListaUsuariosPresenca" method="post" action="/salvarListaUsuariosPresenca" class="form-horizontal" role="form">

									<div class="row">
										<div class="col-xs-12">
											<p>
												<input id="hdfIdPresenca" type="hidden" name="idPresenca" value="<%=presenca.id%>"/>
												<b class="blue">Data:</b> <b> <%= presenca.data %> </b>
											</p>
											<p>
												<b class="blue">Situação: </b> 
												<% if(presenca.status == 'FECHADA'){ %>
													<span class="label label-danger">
												<% } else { %>
													<span class="label label-warning">
												<% } %>
												<%= presenca.status %></span>
											</p>
										</div>
									</div>
									<hr>

									<table class="table table-striped table-bordered table-hover">
										<thead class="thin-border-bottom">
											<tr>
												<th>
													<i class="ace-icon fa fa-user"></i>
													Jogador
												</th>
	
												<th>
													<i class="ace-icon fa fa-phone"></i>
													Presente
												</th>
												<th>
													<i class="ace-icon fa fa-phone"></i>
													Atrasado
												</th>
												<th>
													<i class="ace-icon fa fa-phone"></i>
													Suspenso
												</th>
											</tr>
										</thead>
	
										<tbody>
											<% if(usuarios.length > 0) { %>
												<% for(var i = 0; i < usuarios.length; i++) { %>
	
													<tr>
														<td class="text-primary">															
															<b><%= usuarios[i].nome %></b>
														</td>
	
														<td>
															<label>
																<% if(usuarios[i].presente == 0){ %>
																	<input id="chkPresente" name="presente" class="ace ace-switch ace-switch-6" type="checkbox" value="<%= usuarios[i].idPresencaUsuario %>" />
																<% } else { %>
																	<input id="chkPresente" name="presente" class="ace ace-switch ace-switch-6" type="checkbox" checked value="<%= usuarios[i].idPresencaUsuario %>" />
																<% } %>
																<span class="lbl"></span>
															</label>
														</td>

														<td>
															<label>
																<% if(usuarios[i].atrasado == 0){ %>
																	<input id="chkAtrasado" name="atrasado" class="ace ace-switch ace-switch-6" type="checkbox" value="<%=usuarios[i].idPresencaUsuario%>" />
																<% } else { %>
																	<input id="chkAtrasado" name="atrasado" class="ace ace-switch ace-switch-6" type="checkbox" checked value="<%=usuarios[i].idPresencaUsuario%>" />
																<% } %>
																<span class="lbl"></span>
															</label>
														</td>

														<td>
															<label>
																<% if(usuarios[i].suspenso == 0){ %>
																	<input id="chkSuspenso" name="suspenso" class="ace ace-switch ace-switch-6" type="checkbox" value="<%=usuarios[i].idPresencaUsuario%>" />
																<% } else { %>
																	<input id="chkSuspenso" name="suspenso" class="ace ace-switch ace-switch-6" type="checkbox" checked value="<%=usuarios[i].idPresencaUsuario%>" />
																<% } %>
																<span class="lbl"></span>
															</label>
														</td>

													</tr>
												<% } %>
											<% } %>	
										</tbody>
									</table>

									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Salvar
											</button>
	
											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Cancelar
											</button>
										</div>
									</div>

								</form>
							</div>


							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<% include ../partials/footer %>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<% include ../partials/basicScripts %>

</body>
</html>